JGS.BusinessLogicEngine.EngineService/EngineService/Service References/TimeOutWrapper/TimeOutWrapper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PerformTimeOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TimeOutInfo" type="tns:TimeOutInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="JustReturnXMLString" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TimeOutInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Geography" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BCN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkCenterId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Warranty" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="WoTimeLoggedInHours" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoCodeList" type="tns:ArrayOfInfoCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="FlexFieldList" type="tns:ArrayOfFlexFields" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeOutFlexFieldList" type="tns:ArrayOfFlexFields" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeOutType" type="tns:OperationTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContractName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OverRidePass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModifyWarranty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIUsage_LocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIUsage_ClientName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInfoCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InfoCodes" type="tns:InfoCodes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfoCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfoCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodeType" type="tns:CodeTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CodeTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Symptom" />
          <s:enumeration value="Diagnostic" />
          <s:enumeration value="Repair" />
          <s:enumeration value="Fail" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfFlexFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FlexFields" type="tns:FlexFields" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FlexFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OperationTypes">
        <s:restriction base="s:string">
          <s:enumeration value="ProcessImmediate" />
          <s:enumeration value="QueueForDelay" />
          <s:enumeration value="QueueForImmediate" />
          <s:enumeration value="UpdateQueueDelay" />
          <s:enumeration value="DeleteQueueDelay" />
          <s:enumeration value="ReleaseQueueDelay" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PerformTimeOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformTimeOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerformTimeOutSoapIn">
    <wsdl:part name="parameters" element="tns:PerformTimeOut" />
  </wsdl:message>
  <wsdl:message name="PerformTimeOutSoapOut">
    <wsdl:part name="parameters" element="tns:PerformTimeOutResponse" />
  </wsdl:message>
  <wsdl:portType name="TimeOutWrapperSoap">
    <wsdl:operation name="PerformTimeOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will perform a TimeOut on a determinated unit</wsdl:documentation>
      <wsdl:input message="tns:PerformTimeOutSoapIn" />
      <wsdl:output message="tns:PerformTimeOutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimeOutWrapperSoap" type="tns:TimeOutWrapperSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformTimeOut">
      <soap:operation soapAction="http://tempuri.org/PerformTimeOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimeOutWrapperSoap12" type="tns:TimeOutWrapperSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformTimeOut">
      <soap12:operation soapAction="http://tempuri.org/PerformTimeOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimeOutWrapper">
    <wsdl:port name="TimeOutWrapperSoap" binding="tns:TimeOutWrapperSoap">
      <soap:address location="http://jgswebservicesdev/TimeOutWrapper.asmx" />
    </wsdl:port>
    <wsdl:port name="TimeOutWrapperSoap12" binding="tns:TimeOutWrapperSoap12">
      <soap12:address location="http://jgswebservicesdev/TimeOutWrapper.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>