JGS.BusinessLogicEngine.EngineService/EngineService/Service References/FailureAnalysisWrapper/FailureAnalysisWrapper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PerformFA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FAInfo" type="tns:FAInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="JustReturnXMLString" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FAInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserPass" type="tns:UserPwd" />
          <s:element minOccurs="0" maxOccurs="1" name="BCN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ecoCodeList" type="tns:ArrayOfEcoCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="defCodeList" type="tns:ArrayOfDefCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="actionCodeList" type="tns:ArrayOfActionCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="assemblyCodes" type="tns:ArrayOfAssemblyCodes" />
          <s:element minOccurs="1" maxOccurs="1" name="QueueInfo" type="tns:Info4Queue" />
          <s:element minOccurs="1" maxOccurs="1" name="FAType" type="tns:OperationTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIUsage_LocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIUsage_ClientName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserPwd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEcoCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ecoCodes" type="tns:ecoCodes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ecoCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Operation" type="tns:FAOperations" />
          <s:element minOccurs="0" maxOccurs="1" name="FlexField" type="tns:ArrayOfFAFlexFields" />
          <s:element minOccurs="0" maxOccurs="1" name="Occurrence" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FAOperations">
        <s:restriction base="s:string">
          <s:enumeration value="Add" />
          <s:enumeration value="Update" />
          <s:enumeration value="Delete" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfFAFlexFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FAFlexFields" type="tns:FAFlexFields" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FAFlexFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDefCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="defCodes" type="tns:defCodes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="defCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Operation" type="tns:FAOperations" />
          <s:element minOccurs="0" maxOccurs="1" name="FlexFieldList" type="tns:ArrayOfFAFlexFields" />
          <s:element minOccurs="0" maxOccurs="1" name="Occurrence" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfActionCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="actionCodes" type="tns:actionCodes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="actionCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="actionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="assemblyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="defectCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ecoCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlexFieldList" type="tns:ArrayOfFlexFields" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Operation" type="tns:FAOperations" />
          <s:element minOccurs="0" maxOccurs="1" name="Occurrence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="assOccurrence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="defOccurrence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ecoOccurrence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActionCodeValueId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFlexFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FlexFields" type="tns:FlexFields" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FlexFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAssemblyCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="assemblyCodes" type="tns:assemblyCodes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="assemblyCodes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="assemblyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlexFieldList" type="tns:ArrayOfFlexFields" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Operation" type="tns:FAOperations" />
          <s:element minOccurs="0" maxOccurs="1" name="partId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="partNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Occurrence" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Info4Queue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContractName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Geography" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OperationTypes">
        <s:restriction base="s:string">
          <s:enumeration value="ProcessImmediate" />
          <s:enumeration value="QueueForDelay" />
          <s:enumeration value="QueueForImmediate" />
          <s:enumeration value="UpdateQueueDelay" />
          <s:enumeration value="DeleteQueueDelay" />
          <s:enumeration value="ReleaseQueueDelay" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PerformFAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformFAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformIssueParts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IssuePartsInfo" type="tns:IssuePartsInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="JustReturnXMLString" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IssuePartsInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="systemId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="User" type="tns:UserPwd" />
          <s:element minOccurs="0" maxOccurs="1" name="bcn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="issueNonInventoryParts" type="tns:ArrayOfIssueRemoveNonInventoryPartDO" />
          <s:element minOccurs="0" maxOccurs="1" name="boomItem" type="tns:ArrayOfBomIssueRemoveItemDO" />
          <s:element minOccurs="0" maxOccurs="1" name="issueNonBCNParts" type="tns:ArrayOfIssueRemoveItemDO" />
          <s:element minOccurs="0" maxOccurs="1" name="issuedBCN" type="tns:ArrayOfIssueBCNPartDO" />
          <s:element minOccurs="1" maxOccurs="1" name="actionCodeValue" type="tns:actionCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIUsage_LocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIUsage_ClientName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIssueRemoveNonInventoryPartDO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IssueRemoveNonInventoryPartDO" type="tns:IssueRemoveNonInventoryPartDO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IssueRemoveNonInventoryPartDO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="componentLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flexFields" type="tns:ArrayOfFlexFields" />
          <s:element minOccurs="0" maxOccurs="1" name="manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manufacturerPartNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="partNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBomIssueRemoveItemDO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BomIssueRemoveItemDO" type="tns:BomIssueRemoveItemDO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BomIssueRemoveItemDO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="bomBCN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bomComponentLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bomCondition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bomName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bomOwner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bomPartNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="bomQuantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flexFields" type="tns:ArrayOfFlexFields" />
          <s:element minOccurs="0" maxOccurs="1" name="manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manufacturerPartNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternatePartList" type="tns:ArrayOfAlternatePart" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAlternatePart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AlternatePart" type="tns:AlternatePart" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AlternatePart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Part" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bcn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalCondition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalOwner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternateCondition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternateOwner" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIssueRemoveItemDO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IssueRemoveItemDO" type="tns:IssueRemoveItemDO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IssueRemoveItemDO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="classification" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="componentLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flexFields" type="tns:ArrayOfFlexFields" />
          <s:element minOccurs="1" maxOccurs="1" name="locationSearchCriteria" type="tns:LocationSearchCriteria" />
          <s:element minOccurs="0" maxOccurs="1" name="manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manufacturerPartNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="owner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="partNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocationSearchCriteria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="bin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="geography" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stockingLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="warehouse" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIssueBCNPartDO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IssueBCNPartDO" type="tns:IssueBCNPartDO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IssueBCNPartDO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="bcn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="componentLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flexFields" type="tns:ArrayOfFlexFields" />
          <s:element minOccurs="0" maxOccurs="1" name="manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manufacturerPartNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="partNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PerformIssuePartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformIssuePartsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformRemoveParts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemovePartsInfo" type="tns:RemovePartsInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="JustReturnXMLString" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RemovePartsInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="systemId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="User" type="tns:UserPwd" />
          <s:element minOccurs="0" maxOccurs="1" name="bcn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="removeNonInventoryParts" type="tns:ArrayOfIssueRemoveNonInventoryPartDO" />
          <s:element minOccurs="0" maxOccurs="1" name="boomItem" type="tns:ArrayOfBomIssueRemoveItemDO" />
          <s:element minOccurs="0" maxOccurs="1" name="removeNonBCNParts" type="tns:ArrayOfIssueRemoveItemDO" />
          <s:element minOccurs="0" maxOccurs="1" name="removeBCNParts" type="tns:ArrayOfIssueRemoveItemDO" />
          <s:element minOccurs="1" maxOccurs="1" name="actionCodeValue" type="tns:actionCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIUsage_LocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIUsage_ClientName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PerformRemovePartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformRemovePartsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerformFASoapIn">
    <wsdl:part name="parameters" element="tns:PerformFA" />
  </wsdl:message>
  <wsdl:message name="PerformFASoapOut">
    <wsdl:part name="parameters" element="tns:PerformFAResponse" />
  </wsdl:message>
  <wsdl:message name="PerformIssuePartsSoapIn">
    <wsdl:part name="parameters" element="tns:PerformIssueParts" />
  </wsdl:message>
  <wsdl:message name="PerformIssuePartsSoapOut">
    <wsdl:part name="parameters" element="tns:PerformIssuePartsResponse" />
  </wsdl:message>
  <wsdl:message name="PerformRemovePartsSoapIn">
    <wsdl:part name="parameters" element="tns:PerformRemoveParts" />
  </wsdl:message>
  <wsdl:message name="PerformRemovePartsSoapOut">
    <wsdl:part name="parameters" element="tns:PerformRemovePartsResponse" />
  </wsdl:message>
  <wsdl:portType name="FailureAnalysisWrapperSoap">
    <wsdl:operation name="PerformFA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will perform an Failure Analisys on a determinated unit</wsdl:documentation>
      <wsdl:input message="tns:PerformFASoapIn" />
      <wsdl:output message="tns:PerformFASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PerformIssueParts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will Issue a Component on RnR</wsdl:documentation>
      <wsdl:input message="tns:PerformIssuePartsSoapIn" />
      <wsdl:output message="tns:PerformIssuePartsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PerformRemoveParts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will Remove a Component on RnR</wsdl:documentation>
      <wsdl:input message="tns:PerformRemovePartsSoapIn" />
      <wsdl:output message="tns:PerformRemovePartsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FailureAnalysisWrapperSoap" type="tns:FailureAnalysisWrapperSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformFA">
      <soap:operation soapAction="http://tempuri.org/PerformFA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformIssueParts">
      <soap:operation soapAction="http://tempuri.org/PerformIssueParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformRemoveParts">
      <soap:operation soapAction="http://tempuri.org/PerformRemoveParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FailureAnalysisWrapperSoap12" type="tns:FailureAnalysisWrapperSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformFA">
      <soap12:operation soapAction="http://tempuri.org/PerformFA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformIssueParts">
      <soap12:operation soapAction="http://tempuri.org/PerformIssueParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformRemoveParts">
      <soap12:operation soapAction="http://tempuri.org/PerformRemoveParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FailureAnalysisWrapper">
    <wsdl:port name="FailureAnalysisWrapperSoap" binding="tns:FailureAnalysisWrapperSoap">
      <soap:address location="http://jgswebservicesdev/FailureAnalysisWrapper.asmx" />
    </wsdl:port>
    <wsdl:port name="FailureAnalysisWrapperSoap12" binding="tns:FailureAnalysisWrapperSoap12">
      <soap12:address location="http://jgswebservicesdev/FailureAnalysisWrapper.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>