JGS.Shared/Validation/DocumentDefinitions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			  xmlns:xs="http://www.w3.org/2001/XMLSchema"
			  targetNamespace="http://corporate.jabil.org/BusinessLogicEngine"
			  xmlns:ble="http://corporate.jabil.org/BusinessLogicEngine" >

	<xs:complexType name="FieldType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Name" type="xs:string" use="required" />
					
				<xs:attribute name="IsNumeric" type="xs:boolean" use="optional" />
				<xs:attribute name="IsAlphaNumeric" type="xs:boolean" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="FieldGroupType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Field" type="ble:FieldType" />
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required" />
	</xs:complexType>

	<xs:element name="DocumentDefinitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="DocumentDefinition">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="RequiredFields">
								<xs:complexType>
									<xs:choice>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="FieldGroup" type="ble:FieldGroupType" />
										<xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="ble:FieldType" />
									</xs:choice>
								</xs:complexType>
							</xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="OptionalFields">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" type="ble:FieldType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
						</xs:sequence>
						<xs:attribute name="Root" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>