JGS.Web.TriggerProviders/JGS.Web.DTVTriggerProviders/Web References/ChangePart/ChangePartWrapper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PerformChangePart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePartInfo" type="tns:ChangePartInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="JustReturnXMLString" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChangePartInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SesCustomerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BCN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewSerialNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewPartNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRevisionLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewFixedAssetTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MustBeOnHold" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ReleaseIfHold" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MustBeTimedIn" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TimedInWorkCenterName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlexFieldList" type="tns:ArrayOfFlexFields" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFlexFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FlexFields" type="tns:FlexFields" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FlexFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PerformChangePartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformChangePartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerformChangePartSoapIn">
    <wsdl:part name="parameters" element="tns:PerformChangePart" />
  </wsdl:message>
  <wsdl:message name="PerformChangePartSoapOut">
    <wsdl:part name="parameters" element="tns:PerformChangePartResponse" />
  </wsdl:message>
  <wsdl:portType name="ChangePartWrapperSoap">
    <wsdl:operation name="PerformChangePart">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will perform a change part and flex field updates</wsdl:documentation>
      <wsdl:input message="tns:PerformChangePartSoapIn" />
      <wsdl:output message="tns:PerformChangePartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChangePartWrapperSoap" type="tns:ChangePartWrapperSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformChangePart">
      <soap:operation soapAction="http://tempuri.org/PerformChangePart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChangePartWrapperSoap12" type="tns:ChangePartWrapperSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformChangePart">
      <soap12:operation soapAction="http://tempuri.org/PerformChangePart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChangePartWrapper">
    <wsdl:port name="ChangePartWrapperSoap" binding="tns:ChangePartWrapperSoap">
      <soap:address location="http://jgswebservicesstg/ChangePartWrapper.asmx" />
    </wsdl:port>
    <wsdl:port name="ChangePartWrapperSoap12" binding="tns:ChangePartWrapperSoap12">
      <soap12:address location="http://jgswebservicesstg/ChangePartWrapper.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>