JGS.Web.TriggerProviders/JGS.Web.DTVTriggerProviders/Web References/Print/JGSPrintService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://JGSPrintService.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://JGSPrintService.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://JGSPrintService.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="OnePrint_Validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contractId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="routeName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workCenterId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="eventName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OnePrint_ValidateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_Request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contractId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="routeName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workCenterId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="eventName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="printerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportTemplate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="copies" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="needDB" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="params">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_RequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OnePrint_RequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_BeginBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="senderGuid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_BeginBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OnePrint_BeginBatchResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_AddToBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="senderGuid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="batchGuid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contractId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="routeName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workCenterId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="eventName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="printerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportTemplate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="copies" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="needDB" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="params">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_AddToBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OnePrint_AddToBatchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_CommitBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="senderGuid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="batchGuid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_CommitBatchResponse">
        <s:complexType />
      </s:element>
      <s:element name="OnePrint_AbortBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="senderGuid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="batchGuid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_AbortBatchResponse">
        <s:complexType />
      </s:element>
      <s:element name="OnePrint_JGSPrint_by_Name">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="locationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contractName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="routeCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workCenterName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eventName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameterDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_JGSPrint_by_NameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OnePrint_JGSPrint_by_NameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_Print">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contractId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="routeCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workcenterId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="eventName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameterDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnePrint_PrintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OnePrint_PrintResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OnePrint_ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:OnePrint_Validate" />
  </wsdl:message>
  <wsdl:message name="OnePrint_ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:OnePrint_ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="OnePrint_RequestSoapIn">
    <wsdl:part name="parameters" element="tns:OnePrint_Request" />
  </wsdl:message>
  <wsdl:message name="OnePrint_RequestSoapOut">
    <wsdl:part name="parameters" element="tns:OnePrint_RequestResponse" />
  </wsdl:message>
  <wsdl:message name="OnePrint_BeginBatchSoapIn">
    <wsdl:part name="parameters" element="tns:OnePrint_BeginBatch" />
  </wsdl:message>
  <wsdl:message name="OnePrint_BeginBatchSoapOut">
    <wsdl:part name="parameters" element="tns:OnePrint_BeginBatchResponse" />
  </wsdl:message>
  <wsdl:message name="OnePrint_AddToBatchSoapIn">
    <wsdl:part name="parameters" element="tns:OnePrint_AddToBatch" />
  </wsdl:message>
  <wsdl:message name="OnePrint_AddToBatchSoapOut">
    <wsdl:part name="parameters" element="tns:OnePrint_AddToBatchResponse" />
  </wsdl:message>
  <wsdl:message name="OnePrint_CommitBatchSoapIn">
    <wsdl:part name="parameters" element="tns:OnePrint_CommitBatch" />
  </wsdl:message>
  <wsdl:message name="OnePrint_CommitBatchSoapOut">
    <wsdl:part name="parameters" element="tns:OnePrint_CommitBatchResponse" />
  </wsdl:message>
  <wsdl:message name="OnePrint_AbortBatchSoapIn">
    <wsdl:part name="parameters" element="tns:OnePrint_AbortBatch" />
  </wsdl:message>
  <wsdl:message name="OnePrint_AbortBatchSoapOut">
    <wsdl:part name="parameters" element="tns:OnePrint_AbortBatchResponse" />
  </wsdl:message>
  <wsdl:message name="OnePrint_JGSPrint_by_NameSoapIn">
    <wsdl:part name="parameters" element="tns:OnePrint_JGSPrint_by_Name" />
  </wsdl:message>
  <wsdl:message name="OnePrint_JGSPrint_by_NameSoapOut">
    <wsdl:part name="parameters" element="tns:OnePrint_JGSPrint_by_NameResponse" />
  </wsdl:message>
  <wsdl:message name="OnePrint_PrintSoapIn">
    <wsdl:part name="parameters" element="tns:OnePrint_Print" />
  </wsdl:message>
  <wsdl:message name="OnePrint_PrintSoapOut">
    <wsdl:part name="parameters" element="tns:OnePrint_PrintResponse" />
  </wsdl:message>
  <wsdl:portType name="JGSPrintServiceSoap">
    <wsdl:operation name="ValidateConfiguration">
      <wsdl:input name="OnePrint_Validate" message="tns:OnePrint_ValidateSoapIn" />
      <wsdl:output name="OnePrint_Validate" message="tns:OnePrint_ValidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestPrint">
      <wsdl:input name="OnePrint_Request" message="tns:OnePrint_RequestSoapIn" />
      <wsdl:output name="OnePrint_Request" message="tns:OnePrint_RequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BeginBatch">
      <wsdl:input name="OnePrint_BeginBatch" message="tns:OnePrint_BeginBatchSoapIn" />
      <wsdl:output name="OnePrint_BeginBatch" message="tns:OnePrint_BeginBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToBatch">
      <wsdl:input name="OnePrint_AddToBatch" message="tns:OnePrint_AddToBatchSoapIn" />
      <wsdl:output name="OnePrint_AddToBatch" message="tns:OnePrint_AddToBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommitBatch">
      <wsdl:input name="OnePrint_CommitBatch" message="tns:OnePrint_CommitBatchSoapIn" />
      <wsdl:output name="OnePrint_CommitBatch" message="tns:OnePrint_CommitBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AbortBatch">
      <wsdl:input name="OnePrint_AbortBatch" message="tns:OnePrint_AbortBatchSoapIn" />
      <wsdl:output name="OnePrint_AbortBatch" message="tns:OnePrint_AbortBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JGSPrintService">
      <wsdl:input name="OnePrint_JGSPrint_by_Name" message="tns:OnePrint_JGSPrint_by_NameSoapIn" />
      <wsdl:output name="OnePrint_JGSPrint_by_Name" message="tns:OnePrint_JGSPrint_by_NameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OnePrintService">
      <wsdl:input name="OnePrint_Print" message="tns:OnePrint_PrintSoapIn" />
      <wsdl:output name="OnePrint_Print" message="tns:OnePrint_PrintSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JGSPrintServiceSoap" type="tns:JGSPrintServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateConfiguration">
      <soap:operation soapAction="http://JGSPrintService.org/OnePrint_Validate" style="document" />
      <wsdl:input name="OnePrint_Validate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_Validate">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPrint">
      <soap:operation soapAction="http://JGSPrintService.org/OnePrint_Request" style="document" />
      <wsdl:input name="OnePrint_Request">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_Request">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginBatch">
      <soap:operation soapAction="http://JGSPrintService.org/OnePrint_BeginBatch" style="document" />
      <wsdl:input name="OnePrint_BeginBatch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_BeginBatch">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToBatch">
      <soap:operation soapAction="http://JGSPrintService.org/OnePrint_AddToBatch" style="document" />
      <wsdl:input name="OnePrint_AddToBatch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_AddToBatch">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitBatch">
      <soap:operation soapAction="http://JGSPrintService.org/OnePrint_CommitBatch" style="document" />
      <wsdl:input name="OnePrint_CommitBatch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_CommitBatch">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortBatch">
      <soap:operation soapAction="http://JGSPrintService.org/OnePrint_AbortBatch" style="document" />
      <wsdl:input name="OnePrint_AbortBatch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_AbortBatch">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JGSPrintService">
      <soap:operation soapAction="http://JGSPrintService.org/OnePrint_JGSPrint_by_Name" style="document" />
      <wsdl:input name="OnePrint_JGSPrint_by_Name">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_JGSPrint_by_Name">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnePrintService">
      <soap:operation soapAction="http://JGSPrintService.org/OnePrint_Print" style="document" />
      <wsdl:input name="OnePrint_Print">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_Print">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JGSPrintServiceSoap12" type="tns:JGSPrintServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateConfiguration">
      <soap12:operation soapAction="http://JGSPrintService.org/OnePrint_Validate" style="document" />
      <wsdl:input name="OnePrint_Validate">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_Validate">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPrint">
      <soap12:operation soapAction="http://JGSPrintService.org/OnePrint_Request" style="document" />
      <wsdl:input name="OnePrint_Request">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_Request">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginBatch">
      <soap12:operation soapAction="http://JGSPrintService.org/OnePrint_BeginBatch" style="document" />
      <wsdl:input name="OnePrint_BeginBatch">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_BeginBatch">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToBatch">
      <soap12:operation soapAction="http://JGSPrintService.org/OnePrint_AddToBatch" style="document" />
      <wsdl:input name="OnePrint_AddToBatch">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_AddToBatch">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitBatch">
      <soap12:operation soapAction="http://JGSPrintService.org/OnePrint_CommitBatch" style="document" />
      <wsdl:input name="OnePrint_CommitBatch">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_CommitBatch">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortBatch">
      <soap12:operation soapAction="http://JGSPrintService.org/OnePrint_AbortBatch" style="document" />
      <wsdl:input name="OnePrint_AbortBatch">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_AbortBatch">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JGSPrintService">
      <soap12:operation soapAction="http://JGSPrintService.org/OnePrint_JGSPrint_by_Name" style="document" />
      <wsdl:input name="OnePrint_JGSPrint_by_Name">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_JGSPrint_by_Name">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnePrintService">
      <soap12:operation soapAction="http://JGSPrintService.org/OnePrint_Print" style="document" />
      <wsdl:input name="OnePrint_Print">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OnePrint_Print">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JGSPrintService">
    <wsdl:port name="JGSPrintServiceSoap" binding="tns:JGSPrintServiceSoap">
      <soap:address location="http://jgswebservicesdev/JGSPrintService.asmx" />
    </wsdl:port>
    <wsdl:port name="JGSPrintServiceSoap12" binding="tns:JGSPrintServiceSoap12">
      <soap12:address location="http://jgswebservicesdev/JGSPrintService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>